body{
    font-family: Mulish;
    margin: 2.5rem 3rem 2.5rem 3rem;
}
        /* nav start here */
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.nav-title-conatiner{
    display: flex;
    align-items: center;
    gap: 0.2rem;
}
.nav-img{
    height: 60%;
}
.nav-title-red{
    color: #FF5400;
}
.nav-title{
    color: #131318;
    font-size: 2.3rem;
    font-weight: 800;
}
.nav-list{
    list-style: none;
    display: flex;
}
.nav-option{
    text-decoration: none;
    margin-left: 2.75rem; 
}
.nav-option> a{
    text-decoration: none;
    color: #131318;
    font-size: 1.1rem;
    font-weight: 700;
}


/* Explore Your travel Section */
.travel-destination-conatiner{
    background-image: url(Images/Group-13.png);
    border: 2px solid black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    
    
}
.travel-destination{
    text-align: center;
    align-items: center;
    margin-top: 8rem ;
}
.travel-des-title{  
    color: #fff;
    font-size: 4rem;
    font-weight: 800;
}
.travel-des-description{
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
}
.travel-des-address-selector{

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin-top: 20%;
    background: rgba(255, 255, 255, 0.30);
    width: 100%;
    border-radius: 0.5rem;
}
.where{
    margin-left: 1.2rem;
    border-radius: 5px;
    border: transparent;
    padding: 0.5rem;
}
.travel-des-address-selector>.where>input{
   width: 10.75rem;
   height: 3.25rem; 
   font-size: 1rem;
   text-align: center;
   border-radius: 5px;

}
.Btn-primary{
    width: 10.75rem;
   height: 3.25rem;
   border-radius: 0.5rem;
   background: #ff5400;
   color: #fff;
}


@media screen and (min-width: 447px) and (max-width: 772px) {
    body{
        margin: auto;
    }
    .nav-container{
        flex-direction: column;
    }
    .nav-option{
        margin-left: 1rem;
    }

    /* travel section */
    .travel-finder-section{
        padding: 1rem;
    }
    .travel-destination-conatiner{
        height: auto;
    }
    .travel-des-address-selector{
        flex-direction: column;
        margin-top: 0px;
    }
    .travel-destination{
        margin-top: 0.5rem;
    }
    .where{
        margin-left: 0rem;
    }
}